/* SWIPER PAGINATION */

.gallery-swiper {
  padding-bottom: 50px !important;
}

.swiper-pagination {
  bottom: 0 !important;
  margin-top: 12px;
}

.custom-bullet {
  width: 14px;
  height: 14px;
  background: #fde68a;
  border-radius: 999px;
  display: inline-block;
  margin: 0 6px !important;
  transition: all 0.4s ease;
  opacity: 1 !important;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(251, 191, 36, 0.3);
}

.custom-bullet:hover {
  transform: scale(1.15);
}

.swiper-pagination-bullet-active.custom-bullet {
  width: 40px;
  background: linear-gradient(90deg, #facc15, #f59e0b);
  border-radius: 999px;
  box-shadow: 0 8px 20px rgba(251, 191, 36, 0.5);
}
